{% extends "layout.html" %}

{% block title %}
    Analyzer
{% endblock %}

{% block header %}
    ANALYZER
{% endblock %}

{% block body %}
    <div class="body">
        <div class="explanatory">
            <p>Please enter or upload English text below! To upload a file, make sure it is a .docx Word document.</p>
            <p>A larger text file is recommended, as the more text available, the more meaningful the analysis will be.</p>
            <p>By default, 10 favorite words will be returned, with "strong" screening</p>
            <p>(You can adjust the number of words returned and level of screening in the “Advanced” options. Please note that a word will never be returned as a "favorite" if it used less than 3 times.)</p>
        </div>

        <form action="/" method="post" enctype="multipart/form-data" class="form-group">

            <div>
                <input name="thefile" type="file" id="docpicker" class="form-control"
                    accept=".docx">
            </div>

            <div>
                <textarea name="thetext" placeholder="Or copy and paste text in here!" type="text" rows="4" cols="50" class="form-control"></textarea>
            </div>

            <p></p>

            <div id="advanced" style="display:none; color:dimgrey; text-align:left;">
                <div>
                    <p style="font-weight:bold;">If you would like a particular number of favorite words to be displayed, enter the number below.</p>
                    <input name="quantity" placeholder="How many words? (Default is 10)" type="number" min="0" class="form-control">
                </div>

                <div>
                    <p  style="font-weight:bold;">How strictly would you like common words to be filtered out of your text? (When counting frequently used words)</p>
                    <div class="radio" id="screening">
                        <label class="radio-inline"><input type="radio" name="strictness" value="no" >No screening</label>
                        <label class="radio-inline"><input type="radio" name="strictness" value="weak">Weak screening (most common 100 words in the English language filtered)</label>
                        <label class="radio-inline"><input type="radio" name="strictness" value="strong" checked>Strong screening (most common 1000 words in the English language filtered)</label>
                    </div>
                </div>

                <div>
                    <p style="font-weight:bold;">If you would like any specific words to be filtered out as well, enter them below separated by a space.</p>
                    <input name="exemptions" placeholder="Words to be filtered here" type="text" class="form-control">
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Analyze</button>
        </form>

        <button class="btn btn-outline-secondary" onclick="advanced()">Advanced</button>

        <script>
        function advanced()
        {
            if (document.getElementById("advanced").style.display == "none")
            {
                document.getElementById("advanced").style.display = "block";
            }
            else if (document.getElementById("advanced").style.display == "block")
            {
                document.getElementById("advanced").style.display = "none";
            }
        }
        </script>

    </div>

{% endblock %}