<!DOCTYPE html>

<html lang="en">

    <head>

        <title>{% block title %}{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">

        <!-- Icon from http://clipart-library.com/images-of-a-pencil.html -->
        <link href="/static/pencil.ico" rel="icon">
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1 class="title">{% block header %}{% endblock %}</h1>
            <h3 class="subtitle">Welcome to Jason's text analyzer!</h2>
        </div>

        <div class="text">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="small text-right text-muted">
            Made as a final project for CS50 by Jason Altshuler, Yale ES'22
        </footer>
    </body>

</html>
